<!DOCTYPE html>
<html lang="id" dir="ltr">

<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
     <meta name="description" content="403" />
     <meta name="author" content="Robinson Luiz" />
     <link rel="stylesheet" href="../utils/css/403.css">

     <!-- Title -->
     <title>Desculpe, Você não pode acessar está página</title>
     <link href="../utils/css/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white py-5">
     <div class="container py-5">
          <div class="row">
               <div class="col-md-2 text-center">
                    <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Código: 403</p>
               </div>
               <div class="col-md-10">
                    <h3>OPPSSS!!!! Desculpe...</h3>
                    <p>Desculpe, seu acesso é recusado devido a razões de segurança do nosso servidor e também nossos dados confidenciais. <br/> Por favor, volte para a página anterior para continuar navegando.</p>
                    <a class="btn btn-danger" href="javascript:window.location.replace('/')">Voltar</a></div>
          </div>
     </div>

     <div id="footer" class="text-center">
          ABC Pedagógico @ Copyright 2018
     </div>
</body>

</html>